.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.address {
    text-align: left;
    color: #555;
}

.address-line1 {
    font-size: 13px;
    margin: 0;
}

.address-line2 {
    font-weight: 500;
    margin: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 6px 12px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px 8px;
    color: #333;
}

.search-icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    color: #000000;
    cursor: pointer;
    font-size: 1.35rem;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #333;
    font-size: 22px;
}

.icon {
    cursor: pointer;
    transition: color 0.2s;
}

.icon:hover {
    color: #000;
}

.material-icons {
  font-size: 28px;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
}

.material-icons:hover {
  color: #000;
}
